{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <title>MYSHOOP</title>
  </head>
  <body>

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand">MYSHOOP</a>
          <a class="navbar-brand" href="{% url 'products' %}">Product</a>
          <a class="navbar-brand" href="{% url 'toko' %}">Toko</a>
          {% if bagian == 'product' %}
          <form method="POST"class="d-flex" action="{% url 'products' %}">
          {% elif bagian == 'toko' %}
          <form method="POST"class="d-flex" action="{% url 'toko' %}">
          {% else %}
          <form method="POST"class="d-flex" action="">
          {% endif %}
            {% csrf_token %}
            <input name='keyword' class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>
      {% block content %}
      {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>