{% extends 'Main.html' %}
{% load static %}

{% block content %}
        <section class="page-title add-product-page">
          <h5 class="font-weight-bold">{{kategori}}</h5>
        </section>

        
        <section class="form-area add-product-page">
            <div class="box-inside">
                <form method="POST" class="mt-4" enctype="multipart/form-data">
                  {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div> 
        </section>
    </section>
{% endblock %}