{% extends 'Main.html' %}
{% load static %}
{% block content %}
        
        <!--Ini yang dipake-->
        <section class="page-title product-delete">
          <h5 class="font-weight-bold">{{kategori}}</h5>
        </section>

        
        <section class="form-area product-delete">
            <div class="box-inside">
                <form method="post">{% csrf_token %}
                    <p>Are you sure you want to delete <span style="color:red">"{{ object }}"</span>?</p>
                    <input type="submit" value="Confirm">
                </form>
            </div> 
        </section>
       <!--Sampe sini--> 
    </section>

{% endblock %}