{% extends 'Main.html' %}
{% load static %}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button class="btn btn-outline-success add-product" type="button" onclick="window.location='{% url 'toko_add' %}';">Tambah Toko</button>
  </div>

<table class="table tableshoop">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Harga</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for item in toko %}
      <tr>
        <td>{{item.nama_toko}}</td>
        <td>{{item.alamat}}</td>
        <td><button type="button" class="btn btn-warning" style="margin-right: 10px;" onclick="window.location='{% url 'toko_update' pk=item.id %}';">Edit</button><button type="button" class="btn btn-danger" onclick="window.location='{% url 'toko_delete' pk=item.id %}';">Delete</button></td>
      </tr>
    </tbody>
    {% endfor %}
{% endblock %}